#navbar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between
}

#right-nav {
    display: flex;
    padding: 1em;
}

#nav-search, #nav-saved {
    font-size: 2em;
    letter-spacing: 3px;
    margin: 0px 1em;
    text-decoration: none;
    color: white;

    transition: transform .2s;
}

#nav-search:hover, #nav-saved:hover {
    transform: scale(1.1);
}

