.no-match-hero-img {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/no-match.jpg")
}

#no-match-content{
    position: absolute;
    top: 25%;
    left: 55%;

}

#no-match-text {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 400;
}

#no-match-link {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: 400;
    text-decoration: none;
    transition: transform .2s;

    display: flex;
    align-items: center;
}

#no-match-link p {
    padding-left: 1em;
}

/* #no-match-link:hover {
    color: black;
} */

.svg-icon.arrow-svg:hover polygon{
    fill: black;
}