#search-header {
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 2em;

   

}
#search-book-container {
    display: flex;
    flex-wrap: wrap;
    align-content: justify;
    justify-content: center;

    background-color: rgba(124, 124, 124, 0.2);
    border-radius: 10px;
    padding: 1.5em;
    margin: 0 3em;
}

#search-book-square {
    height: 12em;
    width: 12em;
    border: 2px solid white;
    border-radius: 3px;
    margin: .75em;

    position: relative;

    transition: transform .2s;
}

#search-book-square:hover {
    transform: scale(1.1);
}

#search-book-text {
    position: absolute;
    bottom:0;
    left:0;
    right:0;

    padding: .5em;

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
    background-color: rgba(128, 128, 128, 0.247);
}

#search-book-bookmark{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em;
}

#search-book-bookmark:hover {
    color: paleturquoise;
}
