#saved-hero-img {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/saved.jpg")
}

.content-container {
    margin: 0 10vw;
}

#saved-header {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 100;
}
