#saved-hero-img {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/saved.jpg")
}

.content-container {
    margin: 0 10vw;
}

#saved-header {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 100;
}

#saved-book-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#saved-book-square {
    height: 15em;
    width: 15em;
    border: 2px solid white;
    border-radius: 3px;
    margin: 0 .5em;

    position: relative;

    transition: transform .2s;
}

#saved-book-square:hover {
    transform: scale(1.1);
}

#saved-book-text {
    position: absolute;
    bottom:0;
    left:0;
    right:0;

    padding: .5em;

    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
    background-color: rgba(128, 128, 128, 0.247);
}

#saved-book-x {
    position: absolute;
    top: 0;
    right: 0;

    padding: .5em;
    color: white;
    background-color: rgba(146, 146, 146, 0.527);

    border: none;

    transition: transform .2s; 
}

#saved-book-star{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em;
}

#saved-book-star:hover {
    color: gold;
}

.book-img{
    height: 100%;
    width:100%;
}