#saved-hero-img {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/saved.jpg")
}

.content-container {
    margin: 0 10vw;
}

#saved-header {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 100;
}

#saved-book-container {
    height: 100%;
    width: 100%;

    display: flex;
}


#saved-book-square {
    height: 15em;
    width: 15em;
    border: 1px solid white;
}

.book-img{
    height: 100%;
    width:100%;
}